{
  "extends": ["@shuoink", "next", "next/core-web-vitals", "prettier"],
  "rules": {
    "no-warning-comments": "off",
    "unicorn/prevent-abbreviations": "off",
    "jsdoc/require-jsdoc": "off"
  }
}
