@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter.ttf') format('ttf');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .skewed-3d-left {
    transform: perspective(1500px) rotateX(0) rotateY(-32deg) rotateZ(0);
    transform-origin: center center;
    transform-style: preserve-3d;
  }

  .animate-infinite-scroll-to-left {
    animation: infinite-to-left 60s linear infinite;
  }
  
  @keyframes infinite-to-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

